.chatmainpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.mainChatContainer {
  display: flex;
  right: 0;
}

.iframe-container {
  width: 100%;
  height: 400px;
}

.chatListContainer {
  display: flex;
  flex-direction: column;
  left: 0;
  width: 35%;
  border: 2px solid #b6bec6;
  margin-right: 0.5%;
}

.chatRoomContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 2px solid #b6bec6;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
}
